/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#sb-scrolling-div::-webkit-scrollbar {
    -webkit-appearance: none;
}

#sb-scrolling-div::-webkit-scrollbar:vertical {
    width: 10px;
}

#sb-scrolling-div::-webkit-scrollbar-button:increment,
#sb-scrolling-div::-webkit-scrollbar-button {
    display: none;
}

#sb-scrolling-div::-webkit-scrollbar:horizontal {
    height: 10px;
}

#sb-scrolling-div::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
}

#sb-scrolling-div::-webkit-scrollbar-track {
    border-radius: 10px;
}
.btn-rounded {
    border-radius: 20px;
    text-transform: uppercase;
    font-size: small;
}
.font-montserrat {
    font-family: "Montserrat", sans-serif;
}
.font-bold {
    font-weight: bold;
}
