/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

#sb-scrolling-div::-webkit-scrollbar {
    -webkit-appearance: none;
}

#sb-scrolling-div::-webkit-scrollbar:vertical {
    width: 10px;
}

#sb-scrolling-div::-webkit-scrollbar-button:increment,
#sb-scrolling-div::-webkit-scrollbar-button {
    display: none;
}

#sb-scrolling-div::-webkit-scrollbar:horizontal {
    height: 10px;
}

#sb-scrolling-div::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
}

#sb-scrolling-div::-webkit-scrollbar-track {
    border-radius: 10px;
}
